body {
    background: hsl(221, 54%, 93%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width:100%;
    
}
  
h1 {
    color: #040224;
    font-size: 25px;
    padding: 20px 0px 5px 5px;
    font-weight: bold;
}

h2 {
  color: #040224;
  font-size: 20px;
  padding: 20px 0px 5px 5px;
  text-align: center;
}

.big_img {
  max-width: 100%;
  max-height: 100%;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small_img {
  max-width:49%;
  max-height:50%;
  padding: 15px;
}

.content {
  background:hsl(221, 54%, 93%);
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 3px;
  border-style:double;
  border-color: rgb(197, 52, 41);
}

.table_content {
  background:hsl(221, 54%, 93%);
  margin: 60px 10px 60px 10px;
  border: 3px;
  border-style: solid;
  border-color: rgb(197, 52, 41);
}

.navbar-custom { 
  color: rgb(197, 52, 41);
  font-weight: bold;
  background: #31497e;
}

.navbar-custom-table { 
  color: rgb(197, 52, 41);
  font-weight: bold;
  background: #31497e;
}

.table_setting {
  width: 100%;
}

@media (max-width: 900px) {
  .table_body {
    background: hsl(221, 54%, 93%);
  }
  
  .table_content {
    background:hsl(221, 54%, 93%);
    margin: 0px 10px 0px 10px;
    border: 0px;
  }

  .navbar-custom-table { 
    color: rgb(197, 52, 41);
    font-weight: bold;
    background: #93ade7;
  }
}

@media (max-width: 767px) {
  body {
    background: hsl(221, 54%, 93%);
  }

  .content {
    background: hsl(221, 54%, 93%);
    margin: 0px 30px 0px 30px;
    border: 0px;
  }
}